<footer>
	<main class="light-text">
		<nav>
			<a href="/docs/getting-started-guides/helloworld/">入门指南</a>
			<a href="/docs/">文档</a>
			<a href="/iot-use-cases/">使用案例</a>
			<a href="https://blog.thingsboard.io/">Blog</a>
			<a href="/docs/services/">服务</a>
			<a href="/docs/contact-us/">联系我们</a>
		</nav>
		<div class="newsletterSubsContainer">
			<script type="text/javascript" src="https://app.mailerlite.com/data/webforms/708170/r9r9x7.js?v5"></script>
		</div>
		<div class="center">
			<div class="social">
				<div>
					<a href="https://twitter.com/thingsboard" class="twitter"><span>twitter</span></a>
					<a href="https://github.com/thingsboard/thingsboard" class="github"><span>Github</span></a>
					<a href="https://gitter.im/thingsboard/chat" class="gitter"><span>Gitter</span></a>
					<a href="http://stackoverflow.com/questions/tagged/thingsboard" class="stack-overflow"><span>Stack Overflow</span></a>
				</div>
				<div>
					<a href="https://groups.google.com/forum/#!forum/thingsboard" class="mailing-list"><span>邮件列表</span></a>
					<a href="https://www.youtube.com/thingsboard" class="youtube"><span>YouTube 频道</span></a>
					<a href="https://www.facebook.com/thingsboard" class="facebook"><span>Facebook</span></a>
				</div>
			</div>
		</div>
		<div id="miceType" class="center">&copy; {{ 'now' | date: "%Y" }} The ThingsBoard Authors</div>
	</main>
</footer>
